body {
    font-family: 'DM Sans', sans-serif;
    background-color: white;
    padding-bottom: 10rem;
}

.content {
    max-width: 700px;
	margin: 4rem auto auto;
}

h2 {
    margin-top: 2em;
    margin-bottom: .5em;
}

h3 {
    margin-bottom: .25em;
}

h4 {
    color: #868686;
    font-weight: normal;

    margin-top: 0;
    margin-bottom: 1em;
}

.skill-title {
    font-weight: bold;
}

.bolder {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #006BBD7F;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    background-color: rgba(0, 107, 189, 0.32);
}

.two-columns {
    display: flex;
}

.column {
    flex: 50%;
}

img.profile-photo{
    height: 9em;
    border-radius: 50%;
    display: block;
    margin: auto auto 4em;
}
